.service {
	max-width: 1200px;
	width: 100%;
	margin: 40px auto;
	grid-area: service;
	&--context {
		padding: 20px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
}

@media (max-width: 900px) {
	.service {
		padding: 20px;
	}
}

@media (max-width: 600px) {
	.service {
		&--context {
			flex-direction: column;
		}
	}
}
