$color-border-light: #e7e7e7;
$color-white: #fff;
$color-text-light: #ccc;
$color-aqua: #95e1d3;
$color-footer-border: #e5e5e5;
$color-text: #333;
$color-text-gray: #999;
$color-pink: #f38181;
$color-yellow: #fce38a;
$color-yellow-light: #eaffd0;
