@import '../../../styles/variables.scss';

.nav {
	&--list {
		display: flex;
		list-style-type: none;
	}
}
.mobileNav {
	&--wrapper {
		position: relative;
		order:2;
	}

	&--popup {
		position: absolute;
		background-color: $color-text;
		top: 30px;
		left: -100px;
		transition: 0.3s linear all;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-20px);
	}

	&--open {
		opacity: 1;
		visibility: visible;
		transform: translateY(0px);
	}
	&--list {
		display: flex;
		flex-direction: column;
		list-style-type: none;
	}
	&--button {
		padding: 5px;
		display: flex;
		justify-content: center;
		align-self: center;
		&:hover {
			.mobileNav--icon {
				fill: $color-yellow;
			}
		}
	}

	&--icon {
		width: 14px;
		height: 14px;
		fill: $color-white;
		transition: 0.3s linear all;
	}
	&--active {
		fill: $color-yellow;
	}
}
