@import '../../../styles/variables.scss';

.social {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	opacity: 0;
	transition: 0.3s linear all;
	visibility: hidden;
	&--box {
		width: 56px;
		height: 56px;
		background-color: $color-yellow;
		display: flex;
		justify-content: center;
		align-items: center;
		border-left: 1px solid rgba($color-pink, 0.5);
		&:first-of-type {
			border-left: none;
		}
		transition: 0.3s linear all;

		&:hover {
			background-color: $color-pink;
			color: $color-white;
			color: red;
			.social--icon {
				fill: $color-white;
			}
		}
	}
	&--icon {
		fill: $color-pink;
	}
}
